.speaker {
    width: 300px;
}

.organizer {
    width: 150px;
    border-radius: 50%;
}

h3.organizer {
    width: 100%;
}

h3.organizer a {
    font-size: 1.8rem;
    color: #f6aa08!important;
}

.sheet {
    padding-top: 32px;
    width: 300px;
    height: 300px;
    margin-bottom: 1.1rem;
}

.text-big {
    font-size: 2.5rem;
    margin-left: 0.8rem;
}

h3 a {
    text-decoration: none;
}

#main a {
    color: rgba(246, 170, 8, .8);
}

.long-abstract {
    height: 50px;
    overflow: hidden;
}

.long-abstract p {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.long-abstract p:hover {
    white-space: normal;
}

.long-abstract:hover {
    height: auto;
}

#location a {
    text-decoration: none;
}